#slider {
  width: 720px;
  height: 400px;
  overflow: hidden;
  margin:40px auto;
}

#slider .slides {
  display: block;
  width: 6000px;
  height: 400px;
  margin: 0;
  padding: 0;
}

#slider .slide {
  float: left;
  list-style-type: none;
  width: 720px;
  height: 400px;
}

/* helper css, since we don't have images */
.slide1 {background: url('../images/slider1_image1.jpg'); }
.slide2 {background: url('../images/slider1_image2.jpg'); }
.slide3 {background: url('../images/slider1_image3.jpg'); }
.slide4 {background: url('../images/slider1_image4.jpg'); }
.slide5 {background: url('../images/slider1_image5.jpg'); }